* {
    box-sizing: border-box;
}

main {
    font-family: Bitter, serif;
}

.topic-section {
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-topic {
    background-color: lightgray;
    border: 1px solid red;
 
    margin: 10px;
    width: 500px;
    height: 450px;
}

.code-example {
    border: 1px solid green;
    background-color: bisque;
    width: 450px;
}

pre {
    white-space: pre-line;
}